<!--The content below is only a placeholder and can be replaced.-->
<div class="container alert">
  <div class="row">
    <div class="col-xs-12">
      <h2>Mon Blog avec Angular</h2>
      <ul class="list-group">
        <app-blog-article
          *ngFor="let article of articles"
             [articleName]="article.name"
             [articleContent]="article.content"
             [articleLoveIts]="article.loveIts"
             [articleCreatedAt]="article.createdAt">  
        </app-blog-article>
      </ul>
    </div>
  </div>
</div>
